on: [push, pull_request]
name: test
jobs:
  test:
    runs-on: ubuntu-latest

    steps:

      - uses: cachix/install-nix-action@v15
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: actions/checkout@v2

      - run: nix develop --command poetry install
        if: steps.poetry-install-cache.output.cache-hit != 'true'

      - run: nix develop --command pytest
